training/DATASET/
training/logs/
training/result_qsub/
training/model_scripted.pt
training/MODEL/Pytorch_AE_LSTM/StudyRoom/data

preperation/NORM
preperation/NORM_CORRECTION
preperation/SAVE_dataSet

*.egg
*.pyc